/* &display=swap */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");

/* Из Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital@1&display=swap");
/* С помощью F1 задан текст */
@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,500&display=swap");

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Kazimir";
	src: url("../fonts/Kazimir-Bold.woff2") format("woff2"), url("../fonts/Kazimir-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
